@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #030712;
  --foreground: #f3f4f6;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: var(--foreground);
  background-color: var(--background);
  font-family:
    'Inter var experimental',
    'Inter var',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}